body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url(/public/assets/bgPhoto/954287-cartoon-backgrounds-2161x1291-smartphone.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: -1;
}


